.productos {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
  }
  
  
  .descripcion {
    font-family: $fuentes;
    color: $gris;
    font-weight: 600;
    text-align: center;
  }
  
  .precio {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  
  .comprar {
    background-color: $azul;
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    color: #fff;
    font-family: $fuentes;
    &:hover {
    background-color: $rojo;
    }
  }
  
  .monto {
    font-family: $fuentes;
    font-size: 18px;
    font-weight: 400;
    color: $verde;
  }