.barra_items {
    background-color: $grisBarra;
    box-shadow: 0px 1px 5px $gris;
  
  }
  
  .caja_iconos {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .icono {
    display: flex;
    padding-top: 2rem;
    padding-bottom: 2rem;
    p {
        font-family: $fuentes;
        font-weight: 600;
        color: $gris;
        margin-left: 2rem;
      }
  }